body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ccc;
    overflow-x: hidden; /* Evita el scroll horizontal */
    height: 100vh;
    width: 100vw;
}

/* Estilos del menú */
nav {
    background-color: black;
    padding: 15px 0;
    width: 100vw;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
}
nav ul li {
    position: relative;
    margin: 0 30px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px 15px;
    display: block;
    transition: all 0.3s ease; /* Suaviza la transición */
}
nav ul li a:hover {
    color: #f2f2f2;
    background-color: #444;
    transform: scale(1.1);
    border-radius: 5px;
}

/* Estilos del menú desplegable */
nav ul li ul {
    display: none; /* Ocultamos el menú desplegable por defecto */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    padding: 0;
    list-style-type: none;
    width: 200px;
}
nav ul li ul li {
    margin: 0;
}
nav ul li ul li a {
    padding: 10px;
    font-size: 18px; /* Tamaño más pequeño para los submenús */
}
nav ul li ul li a:hover {
    background-color: #444;
    transform: scale(1.05); /* Efecto más pequeño que en el menú principal */
}

/* Mostrar el menú desplegable al pasar el ratón */
nav ul li:hover ul {
    display: block;
}

/* Contenido para mostrar debajo del menú */
.content {
    padding: 20px;
    margin: 20px;
    padding: 20px;
    width: 100vw;
}

/* Estilos de los contenedores */
.container, .containerIndex, .containerFormulario {
    background: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: calc(80vw - 60px); /* Ajusta el ancho del contenedor */
    margin: 20px auto; /* Centra el contenedor */
    text-align: left;
}

.containerIndex {
    text-align: center;
}

.containerFormulario {
    width: calc(400px - 40px); /* Ajusta el ancho del formulario */
    text-align: center;
}

.containerFormulario h1, h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos de formulario */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold; /* Añade negrita a las etiquetas */
}
input, textarea {
    width: calc(100% - 20px); /* Ajusta el ancho de los campos de entrada */
    padding: 10px;
    margin-bottom: 15px; /* Añade margen inferior para separación */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Asegura que el padding no altere el ancho */
}
textarea {
    resize: vertical; /* Permite ajustar el tamaño vertical del textarea si es necesario */
}
button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease; /* Suaviza la transición */
}
button:hover {
    background-color: #444;
    transform: scale(1.05); /* Efecto hover para el botón */
}
a {
    color: black;
}
p {
    margin: 10px;
    z-index: 1;
}
section li {
    margin: 5px;
    padding: 5px;
}
.video-background {
    position: fixed; /* Cambiado de absolute a fixed */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover; /* El video cubrirá todo el área sin deformarse */
    z-index: -1; /* Envía el video al fondo */
}